@*UI Section*@
<h3>Product List</h3>

@foreach(Product product in Products)
{
    <div class="card w-50">
        <img class="card-img-top " src="..." alt="Card image cap">
        <div class="card-header">
            NIKE
        </div>
    
        <div class="card-body">

            <h5 class="card-title">Shoe @product.Id: @product.Name</h5>
            <p class="card-text">@product.Description</p>
            <blockquote class="card-text"><strong>£@product.Price</strong></blockquote>
            @if(DisplayBuyButton)
            {
                <a href="#" class="btn btn-primary">Buy</a>
            }
        </div>
    </div>
    
        @*<ul class="list-group list-group-flush">
                              <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                            <div class="card-body">*@
                                @*<a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>*@
          
                            @*<h4>@product.Id: @product.Name</h4>
                            <p>@product.Description</p>
                            <p>£@product.Price</p>*@
}

@*Code Section*@
@code {

    [EditorRequired]
    [Parameter]
    // public List<Product> Products { get; set; } = new();
    public List<Product>Products { get; set; } = ProductServicec.Products.ToList();

    [Parameter]
    //public bool DisplayBuyButton { get; set; } = false;
    public bool DisplayBuyButton { get; set; } = true;
}

